<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sanika Jain">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Sanika's Professional Website">
    <title>Contact Me</title>
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Sanika Jain</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
        </nav>
    </header>
    <div class="item1">
        <h2>Find Me</h2>
        <iframe
            width="600" 
            height="450" 
            style="border:0;" 
            loading="lazy" 
            allowfullscreen 
            referrerpolicy="no-referrer-when-downgrade" 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3969.590450096003!2d-79.94414592398775!3d40.44208097143542!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8834f21f58679a9f%3A0x88716b461fc4daf4!2sCarnegie%20Mellon%20University!5e1!3m2!1sen!2sus!4v1742423476667!5m2!1sen!2sus">
        </iframe>
    </div>
    <div class="item2">
        <h2>Contact Me</h2>
        <form id="contactForm">
            <label for="name">Name:</label>
            <input id="name" type="text" required>
        
            <label for="email">Email:</label>
            <input id="email" type="email" required>
        
            <label for="comment">Message:</label>
            <textarea id="comment" required></textarea>
        
            <button type="button" onclick="validateForm()">Submit</button>
        </form>
        
        <p id="message"></p>

        <h2> </h2>
        
        <h2>My Contact Information</h2>
        <table id="contact">
            <tr>
                <th>Contact Method</th>
                <th>Details</th>
            </tr>
            <tr>
                <td>Email</td>
                <td><a href="mailto:sanikaj@andrew.cmu.edu">sanikaj@andrew.cmu.edu</a></td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>+1 (215) 791 4990</td>
            </tr>
            <tr>
                <td>LinkedIn</td>
                <td><a href="https://www.linkedin.com/in/sanikajain-/">Let's connect!</a></td>
            </tr>
        </table>
    </div>
    <footer>
        <p>Designed and coded by Sanika Jain  &copy; <span id="copyYear"></span></p>
    </footer>
</body>
</html>