<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sanika Jain">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Sanika's Professional Website">
    <title>Curriculum Vitae</title>

</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Sanika Jain</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
        </nav>
    </header>
    <div class="main">
        <h2>Curriculum Vitae</h2>
        <table>
            <tr>
                <th>Title</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Undergraduate Student @Carnegie Mellon University (Pittsburgh, PA)</td>
                <td>Majors: Information Systems + Business Administration, Concentrations: AI + Product Management</td>
            </tr>
            <tr>
                <td>SAM Intern (Data Analytics) @eClinical Works (Remote)</td>
                <td>Conduct data analyses with Excel and R to determine trends within and across various accounts.</td>
            </tr>
            <tr>
                <td>Sales/Marketing Consultant @KVK Tech (Newtown, PA)</td>
                <td>Conduct data analyses with Excel on various advertising campaigns.</td>
            </tr>
            <tr>
                <td>Founder/President @CRN Medical Professions Club (Newtown, PA)</td>
                <td>Started and grew club to over 50 members, inviting medical professionals to share educational and professional experiences.</td>
            </tr>
            <tr>
                <td>Captain @CRN Speech and Debate (Newtown, PA)</td>
                <td>Competed in Congressional Debate and Duo Interpretation, earning bids to prestigious national competitions in both.</td>
            </tr>
        </table>
        <p id="resume"><a href="../static/Sanika Jain - Resume.pdf" target="_blank">My Resume (pdf)</a></p>
    </div>
    <footer>
        &copy; designed and coded by Sanika Jain :)
        <p>&copy; <span id="copyYear"></span> Sanika's Personal Website. All rights reserved.</p>
    </footer>
</body>
</html>