<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="./static/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sanika Jain">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Sanika's Professional Website">
    <title>For Fun</title>
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Sanika Jain</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
        </nav>
    </header>
    <div class="main">
        <div>
            <h2>Things I do for fun</h2>>
            <button id="showButton" onclick="showList()">Click to see...</button>
            <ul id="hiddenList">
                <li>Singing</li>
                <li>Playing badminton</li>
                <li>Traveling</li>
                <li>Calligraphy</li>
            </ul>
        </div>
    </div>
    <footer>
        &copy; designed and coded by Sanika Jain :)
        <p>&copy; <span id="copyYear"></span> Sanika's Personal Website. All rights reserved.</p>
    </footer>
</body>
</html>