<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sanika Jain">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Sanika's Professional Website">
    <title>For Fun</title>
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Sanika Jain</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
        </nav>
    </header>
    <div class="main">
        <div class="mainLayout">
            <div class="item1">
                <h2>Things I Do For Fun!</h2>
                <ul>
                    <li>Singing</li>
                    <li>Playing badminton</li>
                    <li>Traveling</li>
                    <li>Calligraphy</li>
                </ul>
            </div>
            <div class="item2">
                <img src="static/badminton.jpg" class="funIMG" alt="Badminton Image">
            </div>
            <div class="item3">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/_uGu8OVAzkA?si=qhDcssigZQ7HMn-k" 
                    frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="item4 container">
                <h2>Need Some Advice?</h2>
                <p id="adviceText">Click the button to get a random piece of advice!</p>
                <button onclick="getAdvice()">Get Advice</button>
            </div>
        </div>
    </div>
    <footer>
        <p>Designed and coded by Sanika Jain  &copy; <span id="copyYear"></span></p>
    </footer>
</body>
</html>